::-webkit-scrollbar {
    display: none;
}

.content {
    white-space: nowrap;
    overflow: hidden;
}

.map {
    position: absolute;
    left:0px;
    top:0px;
    right: 250px;
    bottom: 100px;
    cursor: crosshair;
}

.menu-tag {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 300px;
    width: 250px;
    background-color: yellow;
    overflow-y: scroll;
    scrollbar-width: none;
}

.menu-dotstore {
    position: absolute;
    right: 0px;
    bottom: 100px;
    width: 250px;
    height: 200px;
    background-color: green;
    overflow-y: scroll;
    scrollbar-width: none;
}

.status {
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 100px;
    background-color: yellow;
    overflow-y: scroll;
    scrollbar-width: none;
    white-space: normal;
    overflow-wrap: break-word;
}
